In [59]:
# Importing Dependencies.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')
##########################
import pandas as pd
import numpy as np
#########################
import cufflinks as cf
import datetime as dt
from datetime import timedelta
##########################
import matplotlib.pyplot as plt
import pyfolio as pf
import empyrical as ep
cf.go_offline()
import pandas_ta as ta

In [60]:
# Connecting with Breeze API
from breeze_connect import BreezeConnect

isec = BreezeConnect(api_key="Dc^ffff@9S492f7750ZX27190049")
isec.generate_session(api_secret="c13101*fffff~4889X2302q3",
session_token="2436361") #session Token will change daily.

In [61]:
#Taking NIFTY 50 stocks universe data and appending to list for pulling Prices of these 50 stocks.
# Fetching Stock Symbol from Csv and converting to List.
stockcode = pd.read_csv('https://raw.githubusercontent.com/kamal63442/random/main/Book1.csv') 
stockcode=stockcode.Symbol.to_list()
print(len(stockcode))
#print(str(stockcode))

62

In [62]:
time_interval = "1minute"
to_date = dt.datetime.today().strftime('%Y-%m-%d %H:%M:%S') # "2022-12-29 T18:00:00.000Z"
from_date = (dt.datetime.today()-timedelta(7)).strftime('%Y-%m-%d %H:%M:%S') # "2022-01-01 T07:00:00.000Z"
#from_date = "2022-12-20 T07:00:00.000Z"
#to_date = "2022-12-20 T18:00:00.000Z"

In [63]:
# Creating an empty dataframe.
df = pd.DataFrame()
# Iterating over each symbol.
for i in stockcode:  
    
    # Printing the symbol which is being downloaded.
    print( str(stockcode.index(i)) + str(' : ') + i, sep=',', end=' ,', flush=True)  

    try:
        # Download the stock price. 
        stock = []
        stock = isec.get_historical_data(interval=time_interval, 
         from_date=from_date, to_date=to_date,
         stock_code=i, exchange_code="NSE", product_type="cash")
        stock = pd.DataFrame(stock["Success"])
        
        # Appending the individual stock prices to df.
        if len(stock) == 0:
            None
        else:
            stock['Name']=i
            df = df.append(stock,sort=False)
    except Exception:
        None

0 : BANBAN ,1 : INDHO ,2 : BAFINS ,3 : CANBAN ,4 : MINLIM ,5 : HINCOP ,6 : MPHLIM ,7 : LTINFO ,8 : TATPOW ,9 : APOHOS ,10 : FEDBAN ,11 : APOTYR ,12 : ADAENT ,13 : ADAPOR ,14 : BAJFI ,15 : HINDAL ,16 : TATMOT ,17 : INDBA ,18 : UNIP ,19 : ONGC ,20 : AURPHA ,21 : HDFSTA ,22 : TECMAH ,23 : HDFC ,24 : MAHMAH ,25 : UNISPI ,26 : MARUTI ,27 : DIVLAB ,28 : BHAPET ,29 : AXIBAN ,30 : SUNPHA ,31 : EICMOT ,32 : TITIND ,33 : HINLEV ,34 : ULTCEM ,35 : ASIPAI ,36 : POWGRI ,37 : RELIND ,38 : HDFBAN ,39 : LARTOU ,40 : HERHON ,41 : STABAN ,42 : TCS ,43 : GRASIM ,44 : COALIN ,45 : BHAAIR ,46 : ICIBAN ,47 : NTPC ,48 : JSWSTE ,49 : TATGLO ,50 : HCLTEC ,51 : KOTMAH ,52 : WIPRO ,53 : INFTEC ,54 : CIPLA ,55 : BRIIND ,56 : NESIND ,57 : BAAUTO ,58 : ITC ,59 : DRREDD ,60 : SBILIF ,61 : HINAER ,

In [64]:
print(df.Name.nunique())
print(str(df.Name.unique()))

61
['BANBAN' 'INDHO' 'BAFINS' 'CANBAN' 'HINCOP' 'MPHLIM' 'LTINFO' 'TATPOW'
 'APOHOS' 'FEDBAN' 'APOTYR' 'ADAENT' 'ADAPOR' 'BAJFI' 'HINDAL' 'TATMOT'
 'INDBA' 'UNIP' 'ONGC' 'AURPHA' 'HDFSTA' 'TECMAH' 'HDFC' 'MAHMAH' 'UNISPI'
 'MARUTI' 'DIVLAB' 'BHAPET' 'AXIBAN' 'SUNPHA' 'EICMOT' 'TITIND' 'HINLEV'
 'ULTCEM' 'ASIPAI' 'POWGRI' 'RELIND' 'HDFBAN' 'LARTOU' 'HERHON' 'STABAN'
 'TCS' 'GRASIM' 'COALIN' 'BHAAIR' 'ICIBAN' 'NTPC' 'JSWSTE' 'TATGLO'
 'HCLTEC' 'KOTMAH' 'WIPRO' 'INFTEC' 'CIPLA' 'BRIIND' 'NESIND' 'BAAUTO'
 'ITC' 'DRREDD' 'SBILIF' 'HINAER']

In [65]:
df = df[['Name','datetime','open','high','low','close','volume']]
df.set_index(['Name','datetime'], inplace=True)
df = df.astype(float)
df = df.pivot_table(index='datetime',
                    columns='Name',
                    values=df.columns)
df.columns = df.columns.swaplevel(0,1)
df.sort_index(axis=1, level=0, inplace=True)

In [66]:
#Plotting to check for timeseries.
df

Name                  ADAENT                                     ADAPOR  \
                       close     high      low     open  volume   close
datetime
2023-01-04 09:07:00  3839.00  3839.00  3839.00  3839.00   121.0  820.80
2023-01-04 09:15:00  3844.95  3845.00  3831.95  3838.75   526.0  821.40
2023-01-04 09:16:00  3831.85  3841.25  3830.95  3838.85   968.0  818.55
2023-01-04 09:17:00  3829.75  3834.00  3829.05  3831.85  1405.0  819.00
2023-01-04 09:18:00  3830.00  3830.00  3823.15  3830.00  1245.0  819.00
...                      ...      ...      ...      ...     ...     ...
2023-01-11 10:18:00  3611.15  3612.00  3607.10  3608.00  4537.0  799.00
2023-01-11 10:19:00  3610.05  3612.00  3608.65  3611.10  1319.0  799.25
2023-01-11 10:20:00  3611.00  3611.95  3609.00  3611.50  2557.0  798.50
2023-01-11 10:21:00  3609.95  3610.90  3608.10  3610.00   974.0  798.40
2023-01-11 10:22:00      NaN      NaN      NaN      NaN     NaN     NaN

Name                                                ...  UNISPI          \
                       high    low    open  volume  ...   close    high
datetime                                            ...
2023-01-04 09:07:00  820.80  820.8  820.80     5.0  ...  865.00  865.00
2023-01-04 09:15:00  822.00  820.7  820.70  1521.0  ...  865.35  866.65
2023-01-04 09:16:00  821.65  818.5  821.65  2414.0  ...  864.90  866.80
2023-01-04 09:17:00  819.45  818.0  819.00  4523.0  ...  865.05  867.15
2023-01-04 09:18:00  819.15  818.2  818.95  2098.0  ...  865.50  866.00
...                     ...    ...     ...     ...  ...     ...     ...
2023-01-11 10:18:00  799.45  798.9  799.25  4858.0  ...  866.10  866.85
2023-01-11 10:19:00  799.40  798.8  799.00  2793.0  ...  866.10  866.55
2023-01-11 10:20:00  799.15  798.5  799.00  4198.0  ...  864.90  866.10
2023-01-11 10:21:00  798.75  798.3  798.70  3406.0  ...  865.45  865.45
2023-01-11 10:22:00     NaN    NaN     NaN     NaN  ...     NaN     NaN

Name                                          WIPRO                          \
                        low    open  volume   close    high     low    open
datetime
2023-01-04 09:07:00  865.00  865.00    25.0  397.50  397.50  397.50  397.50
2023-01-04 09:15:00  863.05  865.00  1056.0  396.25  397.50  396.25  397.50
2023-01-04 09:16:00  863.10  866.20  1010.0  395.75  396.25  395.50  396.25
2023-01-04 09:17:00  864.90  865.00  3016.0  395.40  396.05  395.20  395.75
2023-01-04 09:18:00  865.05  865.75  1325.0  395.35  395.75  395.35  395.65
...                     ...     ...     ...     ...     ...     ...     ...
2023-01-11 10:18:00  866.10  866.85   385.0  395.20  395.20  395.05  395.10
2023-01-11 10:19:00  866.10  866.55   593.0  395.10  395.20  395.10  395.20
2023-01-11 10:20:00  864.90  866.10   727.0  395.05  395.05  394.80  395.00
2023-01-11 10:21:00  864.70  864.70   153.0  394.95  395.00  394.75  395.00
2023-01-11 10:22:00     NaN     NaN     NaN     NaN     NaN     NaN     NaN

Name
                      volume
datetime
2023-01-04 09:07:00     12.0
2023-01-04 09:15:00     62.0
2023-01-04 09:16:00    252.0
2023-01-04 09:17:00    644.0
2023-01-04 09:18:00    305.0
...                      ...
2023-01-11 10:18:00   5457.0
2023-01-11 10:19:00   4338.0
2023-01-11 10:20:00  10089.0
2023-01-11 10:21:00   9167.0
2023-01-11 10:22:00      NaN

[2059 rows x 305 columns]

Need to include only last Thursdays of every month in this dataframe and remove any other timeseries.

Now need to pass these 50 stocks close from RSI 2 and 50/200 Moving Averages and check signal for each symbol

In [67]:
df['MA_200']= ta.sma(df.close,200)
df['MA_50']= ta.sma(df.close,50)
df['RSI_2']= ta.rsi(df.close,2)

AttributeError: 'DataFrame' object has no attribute 'close'

#Signals....
df['signal']= np.where((df['RSI_2'] < 2) # RSI 2 Below 2.
                        &(df['close'] > df['MA_200']) # MA200 Greater than Price.
                        &(df['close'] > df['MA_50']),1,0) # MA50 Greater than Price.

Creating signals for the given Conditions.

df['Position'] = df['signal'].replace(to_replace=0, method='ffill') #Method is forward fill.
df['signal'].value_counts()

df.close.plot() #as seen here it is taking all prices as one it should be seperate close of each symbol.

df = df.to_csv('df.csv')